<div class="modal fade" id="login_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-user"></span>Ingresar</h4>
            </div>
            <!--suppress HtmlUnknownTarget -->
            <form role="form" action="login" method="post" enctype="multipart/form-data" id="login-form" novalidate="novalidate">
                {% csrf_token %}
                <div class="modal-body">
                   <input  type="text" class="form-control" placeholder="Usuario" id="idusername" name="username">
                    <br>
                    <input  type="password" class="form-control" placeholder="Contraseña" id="idpassword" name="password">
                </div>
                <div class="modal-footer btn-toolbar">
                    <button type="submit"id="idlogin" class="btn btn-default btn-success pull-right">
                        <span class="glyphicon glyphicon-save"></span> Iniciar sesión
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedFunction -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#imagen').click(function () {
            alert($('input[type=file]').val());
            return true;

        });
        $('#login_modal').on('hidden.bs.modal', function () {
            validator.resetForm();
        })
    });
</script>